.register-main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .register-main .logo {
    width: 100px;
    margin-top: 8vh; }
  .register-main .form-jumbo {
    width: 700px; }
